{
"HTMLFileName":"res03.html",
"ModelData":"{\
\"stage\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"#templatemo_col6a\": []\
            }\
      }\
   }}\
}",
"ele_efa_#templatemo_col6a":"true",
"ele_tl_color_#templatemo_col6a":"0x50bd82",
"stage-Default Timeline_playhead_ms":"0",
"CompZoomFactor":"100",
"TransitionIdCounter":"7",
"usedBOM":"false"}