{
"HTMLFileName":"res02.html",
"ModelData":"{\
\"stage\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"#templatemo_col5b\": []\
            }\
      }\
   }}\
}",
"usedBOM":"false",
"ele_efa_#templatemo_col5b":"true",
"stage-Default Timeline_playhead_ms":"0",
"CompZoomFactor":"100",
"TransitionIdCounter":"7",
"ele_tl_color_#templatemo_col5b":"0x91c767"}