{
"HTMLFileName":"res04.html",
"ModelData":"{\
\"stage\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"#templatemo_col5c\": []\
            }\
      }\
   }}\
}",
"usedBOM":"false",
"ele_tl_color_#templatemo_col5c":"0x00bda4",
"stage-Default Timeline_playhead_ms":"0",
"ele_efa_#templatemo_col5c":"true",
"TransitionIdCounter":"7",
"CompZoomFactor":"100"}