{
"HTMLFileName":"res05.html",
"ele_efa_#templatemo_col6b":"true",
"usedBOM":"false",
"ele_tl_color_#templatemo_col6b":"0xeedf79",
"stage-Default Timeline_playhead_ms":"0",
"ModelData":"{\
\"stage\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"#templatemo_col6b\": []\
            }\
      }\
   }}\
}",
"TransitionIdCounter":"13",
"CompZoomFactor":"100"}