{
"HTMLFileName":"res01.html",
"ele_tl_color_#templatemo_col5a":"0xeedf79",
"ele_efa_#templatemo_col5a":"true",
"ModelData":"{\
\"stage\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"#templatemo_col5a\": []\
            }\
      }\
   }}\
}",
"stage-Default Timeline_playhead_ms":"2000",
"CompZoomFactor":"100",
"TransitionIdCounter":"7",
"usedBOM":"false"}