{
"HTMLFileName":"res06.html",
"ele_efa_#templatemo_col6c":"true",
"usedBOM":"false",
"ModelData":"{\
\"stage\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"#templatemo_col6c\": []\
            }\
      }\
   }}\
}",
"stage-Default Timeline_playhead_ms":"0",
"CompZoomFactor":"100",
"TransitionIdCounter":"7",
"ele_tl_color_#templatemo_col6c":"0xeedf79"}