vti_encoding:SR|utf8-nl
vti_author:SR|VUAD\\mebrahim
vti_modifiedby:SR|VUAD\\mebrahim
vti_timelastmodified:TR|09 Jun 2015 22:04:05 -0000
vti_timecreated:TR|09 Jun 2015 22:04:05 -0000
vti_cacheddtm:TX|09 Jun 2015 22:04:05 -0000
vti_filesize:IR|2115
vti_cachedlinkinfo:VX|S|slider.png S|loading.gif S|bullets.png S|arrows.png S|ribbon.png
vti_cachedsvcrellinks:VX|NSUS|slider.png NSUS|loading.gif NSUS|bullets.png NSUS|arrows.png NSUS|ribbon.png
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|currentMS_members.html
vti_syncwith_www3.villanova.edu\:80/latfs:TW|09 Jun 2015 22:04:05 -0000
